.navbar-brand{
    color:black!important;
}
.form-control{
    font-size: 1rem;
    width: 61.5vw;
}


#categorySelect{
    font-size: 1.3rem;
}
button{
    font-weight: bold;
    font-size: 20px;
}
section{
    background: linear-gradient(150deg, #bcaacc 15%, #b2d7f9 70%, #4f76ab 94%);
}
.mb-0{
    font-size: 20px;
}
.custom-control-label{
    font-size: 18px;
}
