.ni-fat-delete{
    font-size: 2.4rem;
}
.ni-fat-delete:hover{
    color: red;
    font-size: 2.5rem;
    cursor: pointer;
}

.ni-badge{
    font-size: 2.4rem;
}
.ni-badge:hover{
    color: #1f14ea;
    font-size: 2.5rem;
    cursor: pointer;
}

.img-fluid{
    margin: auto;
    display: block;
}
