<img class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="form-group" [ngClass]="{'focused':focus1===true}">
            <div class="input-group input-group-alternative mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                </div>
                <input (keyup.enter)="searchUser()" class="form-control" placeholder="Search" type="text" [(ngModel)]="searched" (focus)="focus1=true" (blur)="focus1=false">
            </div>
        </div>
    </div>
<!--    <button class="btn btn-1 btn-outline-info" type="button" (keyup.enter)="searchUser()">Search</button>-->
    <div class="col-lg-12 col-sm-12" *ngIf=" user">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nume</th>
                <th scope="col">Prenume</th>
                <th scope="col">Username</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>{{user.last_name}}</th>
                <th>{{user.first_name}}</th>
                <th>{{user.username}}</th>
                <th> <i  *ngIf="!userDeleted" ngbTooltip="Sterge userul" (click)="deleteUser(user.id)" class="ni ni-fat-delete icon-lg mr-2"></i>
                    <i *ngIf="user.roles && user.roles[0]!=='ROLE_ADMIN'" ngbTooltip="Rol admin" (click)="updateRole(user.id)" class="ni ni-badge icon-lg mr-2"></i>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
<img *ngIf="loading" src="../../../../assets/img/brand/loading.gif" class="text-justify-center img-fluid">

