

<section>
    <div class="container">
        <div class="row py-3 align-items-center">
            <div class="col-sm-9">
                <h1 class="mb-0">  <i class="ni ni-cart mr-2"></i> Adauga voucher</h1>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <form class="example-form" [formGroup]="formGroup">
                <div class="row">
                    <mat-form-field class="form-group" >
                        <label class="col-form-label">Titlul voucherului</label>
                        <input matInput placeholder="Insereaza titlu" formControlName="title" type="text" class="form-control" >
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="form-group" >
                        <label class="col-form-label">Puncte necesare:</label>
                        <input matInput placeholder="Puncte necesare" formControlName="points" type="number" class="form-control" >
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="form-group" >
                        <label class="col-form-label">Data expirarii</label>
                        <input matInput placeholder="Data expirarii" formControlName="expiresAt" type="date" class="form-control" >
                    </mat-form-field>
                </div>
                <br>
                <div class="row">
                    <p class="display-4">Adauga o descriere:</p>
                </div>
                <br>
                <div class="row">
                    <app-tinymce-editor (emitDescription)="onTextChanged($event)" [content]="formGroup.get('description').value?formGroup.get('description').value:'<p></p>'"></app-tinymce-editor>
                </div>
                <div class="row">
                    <p>Adauga codurile pentru vouchere(exemplu : ABC;123GG;111111;...)</p>
                    <textarea class="col-12" formControlName="codes" placeholder="Adauga codurile de la vouchere separate prin ; "></textarea>
                </div>
                <div >
                    <br>
                    <!--      <button  type="button" class="btn btn-primary" (click)="addProject()">Submit</button>-->
                    <div class="row">
                        <div class="wrap">
                            <button class="btn btn-icon btn-2 btn-primary" [disabled]="!formGroup.valid"  (click)="addVoucher()" type="button">
                                <span class="btn-inner--icon"><i class="ni ni-fat-add"></i>Submit</span>
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>
