<section>
    <div class="section-lg section">
        <div class="container">
            <div class="row py-3 align-items-center">
                <div class="col-sm-9">
                    <h1 class="mb-0"><img class="reward-logo" src="../../../assets/img/brand/reward.png"> Recompense</h1>
                </div>
            </div>
            <div class="row py-3 align-items-center">
                <div class="col-sm-9">
                    <h2 class="mb-0">Dispui de <span class="points">{{userPoints}}</span> de puncte .</h2>
                </div>
            </div>
            <div class="row py-3 align-items-center">
                <div class="col-sm-9">
                    <h2 class="mb-0">Recompense deja achizionate:</h2>

                    <div class="row" *ngFor="let userReward of rewardsByUser">
                        <div class="col s12 m6">
                            <div class="card blue-grey darken-1">
                                <span class="card-header">{{userReward.reward.title}}</span>
                                <div class="card-body white-text" [innerHTML]="userReward.reward.description">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-3 align-items-center">
                <div class="col-sm-9">
                    <h2 class="mb-0">Alte vouchere:</h2>
                    <div class="row" *ngFor="let reward of rewardsAvailable">
                        <div class="col s12 m6">
                            <div class="card  blue-grey darken-1">
                                <span class="card-header">{{reward.title}}</span>
                                <div class="card-body">
                                    <p class="card-text" [innerHTML]="reward.description"></p>
                                    <div class="card-link"><img ngbTooltip="Cumpara voucher" (click)="buyVoucher(reward)" *ngIf="reward.points < userPoints" class="buy-reward" src="../../../assets/img/brand/buy-voucher.png"> </div>
                                    <div class="card-link" *ngIf="reward.points > userPoints">Iti lipsesc {{reward.points-userPoints}} PUNCTE</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
