<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12">
            <!-- Tabs with icons -->

            <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <i class="ni ni-check-bold mr-2"></i> Aproba proiecte
                    </ng-template>
                    <ng-template ngbTabContent class="col-lg-12 col-md-12">
                        <app-approve-project></app-approve-project>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <i class="ni ni-ungroup mr-2"></i> Utilizatori
                    </ng-template>
                    <ng-template ngbTabContent>
                <app-users></app-users>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <i class="ni ni-calendar-grid-58 mr-2"></i> Messages
                    </ng-template>
                    <ng-template ngbTabContent>
                    <p *ngIf="comments">Ati raspuns la {{comments.length}} proiecte.</p>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
</div>
